* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 350px;
}


.wrapper {
    display: flex;
    align-items: center;
    border: 1px solid rgb(146, 146, 146);
    width: 900px;
    height: 150px;
    background-color: rgb(192, 187, 187);
}

.box1 {
    position: relative;
    padding-left: 50px;
    font-size: 12px;
    font-family: sans-serif;
}

.box2 {
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: blue;
    color: #fff;
    bottom: 15px;
    left: 180px;
    padding: 5px;
    border: none;
}
.box5{
    position: relative;
    padding-left: 85px;
    font-size: 12px;
    font-family: sans-serif; 
}
.box6{
    position: relative;
    padding-left: 80px;
    font-size: 12px;
    font-family: sans-serif; 
}
.box7{
    position: relative;
    padding-left: 85px;
    font-size: 12px;
    font-family: sans-serif; 
}
.box3{
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: blue;
    color: #fff;
    bottom: 15px;
    left: 250px;
    padding: 5px;
    border: none;

}

